
<div class="container">
<center><h1 id="title"><img src="../assets/44.jpg" style="width:100%"></h1></center> 
</div>

<div class = "menu">
    <center>
          <a href="/"><img src = "../assets/btn1.png"></a>
     <a href="/"><img src ="../assets/btn2.png"></a>
    </center>
    <br>
</div>

<div class="container">
    <center>
    <div class = "flex">
        
        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;">
        <h2  id = "title">내용</h2>
        <p>작가이름</p>
       
        </div>

        <div class="col-4">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title" >내용</h2>
        <p>작가이름</p>
       
        </div>
    
        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title">내용</h2>
        <p>작가이름</p>
       
        </div>
    </div>
    </div>    
    </center>
    
    <center>
     <div class = "flex">
        
        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;">
        <h2  id = "title">내용</h2>
        <p>작가이름</p>
       
        </div>

        <div class="col-4">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title" >내용</h2>
        <p>작가이름</p>
       
        </div>
    
        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title">내용</h2>
        <p>작가이름</p>
       
        </div>
    </div>
    </div>    
    </center>
</div>
