<!-- Main index 페이지 -->

<!-- 대표 사진 -->
<div class="container">
<center><h1 id="title"><img src="../assets/44.jpg" style="width:100%"></h1></center>
</div>

<!-- menu Tab 버튼 -->
<div class = "menu">
    <center>
          <a href="/"><img src = "../assets/btn1.png"></a>
     <a href="/"><img src ="../assets/btn2.png"></a>
    </center>
    <br>
</div>

<!-- 인덱스 사진 모임 -->
<div class="container">
    <center>
    <div class = "flex">
    <!-- stylesheet.css 내부에 플렉스 가로 정렬 되어 있는 클래스 = "flex" -->

        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;">
        <h2  id = "title">내용</h2>
        <p>작가이름</p>

        </div>

        <div class="col-4">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title" >내용</h2>
        <p>작가이름</p>

        </div>

        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title">내용</h2>
        <p>작가이름</p>

        </div>
    </div>
    </div>
    </center>

    <center>
     <div class = "flex">

        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;">
        <h2  id = "title">내용</h2>
        <p>작가이름</p>

        </div>

        <div class="col-4">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title" >내용</h2>
        <p>작가이름</p>

        </div>

        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title">내용</h2>
        <p>작가이름</p>

        </div>
    </div>
    </div>
    </center>
</div>



<div id="users">
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%= user.name %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>
