<h1>메인 화면 페이지</h1>
<p>글 목록을 보여줍니다.</p>
<hr>
<% if @listReview.empty? %>
    <h3 class="text-center">글이 없습니다!</h3>
<% else %>
    <table class="table table-hover table-striped">
        <thead>
            <th width="100px">글 번호</th>
            <th>글 제목</th>
            <th width="60px"></th>
        </thead>
        <tbody>
            <% @listReview.each do |oneReview| %>
                <tr>
                    <td><%= oneReview.id %></td>
                    <td>
                        <%= link_to oneReview.title, "show/#{oneReview.id}" %>
                    </td>
                    <td>
                        <%= link_to 'Edit', "/edit/#{oneReview.id}" %>
                        <%= link_to 'Destroy', "/destroy/#{oneReview.id}" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
<% end %>
