<h1>글보기 페이지</h1>
<p>제목과 내용을 보여줍니다.</p>
<hr>

<div class="form-group row">
    <input type="text" class="form-control col-md-12" id="frmTitle" name="title" placeholder="제목을 입력해 주세요." value="<%= @showReview.title %>" readonly />
</div>
<div class="form-group row">
    <textarea class="form-control col-md-12" id="frmContent" name="content" placeholder="내용을 입력해 주세요." rows="15" readonly><%= @showReview.content %></textarea>
</div>
<div class="form-group row">
    <div class="col-md-2">
        <a href="/reviews" class="btn btn-default">목록으로 돌아가기</a>
    </div>
</div>

<hr>
