<p>
  <strong>이름:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>거주지:</strong>
  <%= @user.place %>
</p>

<p>
  <strong>자기소개:</strong>
  <%= @user.introduction %>
</p>


<%= render 'form', profile: @profile %>
