<div class = "flex">
  <form action= "/home/photographer">
	   <button class="button button--itzel-black-photo button--size-l button--border-thin button--text-thin"><i class="button__icon icon icon_p"></i><span>Photographer</span></button>
  </form>
  <form action= "/home/model">
	   <button class="button button--itzel-black-model button--size-l button--border-thin button--text-thin"><i class="button__icon icon /app/assets/images/photographer.png"></i><span>Model</span></button>
  </form>
</div>

<div class="container">
<center><img src="../assets/44.jpg" style="width:100%" ></center>
</div>



<!-- 모든 포스트 불러오기 -->

<%= render '/posts/indexofall', post: @post %>

<div class="text-center" id="posts">
  <%= paginate @posts %>
</div>
<div class="text-center" id="paginator">
  <%= link_to_next_page @posts, 'LOAD MORE',  id: 'load_more' %>
</div>
