


<div class="container">
<center><img src="../assets/44.jpg" style="width:100%" ></center>
</div>


<header>


    <nav class="navbar navbar-toggleable-md ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars text-white"></span>
      </button>


      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">


          <li class="nav-item">
            <a class="nav-link px-lg-4" href="/home/photographer" lang="en">Photographer</a>
          </li>


          <li class="nav-item">
            <a class="nav-link px-lg-4" href="/home/model" lang="en">Model</a>
          </li>


        </ul>
      </div>
    </nav>

</header>



<!-- 모든 포스트 불러오기 -->

<%= render '/posts/indexofall', post: @post %>

<div class="text-center" id="posts">
  <%= paginate @posts %>
</div>
<div class="text-center" id="paginator">
  <%= link_to_next_page @posts, 'LOAD MORE',  id: 'load_more' %>
</div>

