

<!-- 모든 포스트 불러오기 -->

<body>

<div class ="flex_index">
<% @post.each do |post| %>
<div class="responsive">
    <div class="gallery">
        <a target="_blank">
          <%= image_tag("#{post.image.main}")%>
        </a>
      <div class="desc">
      <h2>
        <%= post.title %>
      </h2>
      <br>
      <%= link_to "더보기",user_post_path(:id => post.id, :user_id => post.user_id) %>
      </div>
      </div>
    </div>
<% end %>
</div>

<div class="text-center" id="posts">
  <%= paginate @posts %>
</div>
</body>
