<!DOCTYPE html>
<html>

<style>
.imagehover {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e7e4e3;
}

.container:hover .overlay {
  opacity: 0.6;
}

.text {
  color: #000000;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
</style>






<div class="container">
    
    
    <center>
    <div class = "imagehover">
    
    <div class = "flex">
  <div class = "clo-6">
  <img src="../assets/44.jpg" alt="Avatar" class="image" style = "width: 100%">
  <div class="overlay">
    <div class="text">introduce</div>
  </div>
</div>


<div class = "clo-6">
  <img src="../assets/44.jpg" alt="Avatar" class="image" style = "width:100%">
  <div class="overlay">
    <div class="text">introduce</div>
  </div>
</div>


 
 
 
 
 
 </div>

</center>

</div>




<!--<div class="container">-->
<!--    <center>-->
<!--    <div class = "flex">-->
        
<!--        <div class="col-4">-->
<!--        <img src="../assets/44.jpg" style="width:70%;">-->
       
<!--        <p>작가이름</p>-->
       
<!--        </div>-->

<!--        <div class="col-4">-->
<!--        <img src="../assets/44.jpg" style="width:70%;" >-->
        
<!--        <p>작가이름</p>-->
       
<!--        </div>-->

<!--    </div>-->
<!--    </div>    -->
<!--    </center>-->
    
<!--</div>-->
