
<div class = "flex">
  <form action= "/home/photographer">
	   <button class="button button--itzel_y-photo button--size-l button--border-thin button--text-thin"><i class="button__icon icon icon_p"></i><span>Photographer</span></button>
  </form>
  <form action= "/home/model">
	   <button class="button button--itzel_y-model button--size-l button--border-thin button--text-thin"><i class="button__icon icon icon_m"></i><span>Model</span></button>
  </form>
</div>

<body>
  <div class="posts-wrapper row">
    <div class="container">
    <div class="flex">
      <div class="post" >
        <div class = "col-4">
         <div class="image center-block">
         <% @job.each do |user| %>
          <% user.posts.each do |post| %>
          <%= link_to image_tag ("#{post.image.medium}"), class:'img-responsive' %>
         </div>
        </div>
      </div>
    <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class = "photographer">
<center>
  <div class = "flex">

    <div class="col-6 ">
      <div class = "textWithBlurredBg">
        <img src = "/assets/44.jpg">
          <h2>info</h2>
            <!--<h3>content</h3>-->
      </div>
    </div>


    <div class="col-6 ">
      <div class = "textWithBlurredBg">
        <img src = "/assets/44.jpg">
          <h2>info2</h2>
            <!--<h3>content</h3>-->
      </div>
    </div>
  </div>

</center>

</div>
</body>
