
<header>


    <nav class="navbar navbar-toggleable-md ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars text-white"></span>
      </button>


      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link px-lg-4" href="#" lang="en">Photographer<span class="sr-only">(현재 페이지)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link px-lg-4" href="/home/model" lang="en">Model</a>
          </li>


        </ul>
      </div>
    </nav>

</header>


<body>


  <div class="posts-wrapper row">
    <div class="container">
    <div class="flex">
      <div class="post" >
        <div class = "col-4">
         <div class="image center-block">
         <% @job.each do |user| %>
          <% user.posts.each do |post| %>
          <%= link_to image_tag ("#{post.image.medium}"), class:'img-responsive' %>
         </div>
        </div>
      </div>
    <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class = "photographer">
<center>
  <div class = "flex">

    <div class="col-6 ">
      <div class = "textWithBlurredBg">
        <img src = "/assets/44.jpg">
          <h2>info</h2>
            <!--<h3>content</h3>-->
      </div>
    </div>


    <div class="col-6 ">
      <div class = "textWithBlurredBg">
        <img src = "/assets/44.jpg">
          <h2>info2</h2>
            <!--<h3>content</h3>-->
      </div>
    </div>
  </div>

</center>

</div>

</body>
