<style>
  div.desc {
      padding: 15px;
      text-align: center;
  }
</style>

<% @posts.each do |post| %>
  <div class="responsive">
    <div class="gallery_show">
      <%= image_tag ("#{post.image.medium}"), (@user.present? ? [post.user, post] : post)%>
      <div class="desc">
      <%= post.title%>
      <br>
      <%= link_to "더보기",user_post_path(:id => post.id, :user_id => post.user_id) %>
      </div>
<% end %>
