/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 

 .navbar.bg-inverse {
  background-color: #000 ;
}

.brand {
  margin-bottom: 0;
font-size: 1.3333333rem;
font-weight: 700;
line-height: 1;
letter-spacing: -0.08em;
 }
 
 
 
 .nav-link {
   font-size: 0.73rem;
   font-weight: 700;
   line-height: 1.82;
   letter-spacing: 0.14em;
   text-transform: uppercase;
 }
 
 .navbar-toggler {
   border: none;
 }
 

.secondnavbar{
     background-color: #000 ;
     width: 100%;
     height: 50px;
    
}
