.textWithBlurredBg{
	width : 60%;
}

.textWithBlurredBg img{
	position: relative;
	width : 100%;
	height : auto;
}

.textWithBlurredBg:hover img{
	filter:blur(2px);
	color : #e6e6e6;
}

.textWithBlurredBg :not(img){

	position:relative;
	/*position: absolute;*/
	top: 60%;
    left: 0%;
    right: 0%;
	z-index : 1;
	color : #000000;
	text-align:center;
	width:100%;
	height: auto;
	opacity:0;
	transition:.3s;
}

.textWithBlurredBg h3{
	top :0%


}

.textWithBlurredBg:hover :not(img){
	opacity:1;

}

.photographer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
