// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gray-box{
  display: block;
  background-color: #DEE8D8;
  width: auto;
  height: auto;

}

.display {
  display: block;
}