<form action="/user/<%= @user_id %>/reviews/create" method='get'>
    <p>제목 : <input type='string' name='input_title'></p>
    <p>내용 : <input type='text' name='input_content'></p>
    <input type='submit' value='리뷰작성'>
</form>
