<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<div class="topnav" id="myTopnav">
 <a href="#"><img src ="../assets/logo.png" style = "width:12%; margin-top:10px; margin-left:10px;"></a>  
<a href="/"><img src="../assets/header/로그인off.png" onmouseover="this.src='../assets/header/로그인on.png'" onmouseout="this.src='../assets/header/로그인off.png'" style="width:3%;"></a>
<a href="/"><img src="../assets/header/조인off.png" onmouseover="this.src='../assets/header/조인on.png'" onmouseout="this.src='../assets/header/조인off.png'" style="width:3%;"></a>
</div>


<body>

<div class="container">
      <%= yield %>
    </div>
    <div class="fixed-action-btn horizontal click-to-toggle" >
    <a href="#" class="top"><img src ="../assets/위로.png" width="40px" height="40px" align = "right" style =" margin-bottom  : 10px"> </a>
 </div>
</div>

<script>
    <!--위로올라가기-->
    $( window ).scroll( function() {
	    if ( $( this ).scrollTop() > 200 ) {
	        $( '.top' ).fadeIn();
	    }
	    else {
	        $( '.top' ).fadeOut();
	    }
	} );
	
    $( '.top' ).click( function() {
	    $( 'html, body' ).animate( { scrollTop : 0 }, 400 );
	    return false;
	} );
</script>

</body>


<footer>
   
 <center>
    <a href="/"><img src="../assets/footer/서비스소개off.png" onmouseover="this.src='../assets/footer/서비스소개on.png'" onmouseout="this.src='../assets/footer/서비스소개off.png'"></a>
    <a href="/"><img src="../assets/footer/이용약관off.png" onmouseover="this.src='../assets/footer/이용약관on.png'" onmouseout="this.src='../assets/footer/이용약관off.png'"></a>
</center>
  
</footer>
</html>
